{{extend 'layout.html'}}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'> <!-- Fuente Titulo-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic' rel='stylesheet' type='text/css'><!--Fuente Eslogan-->
	<link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'><!--Fuente Nave-->
	<link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<title>¿Quienes somos?</title>
</head>
<body>
	<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                  
          <span class="navbar-brand glyphicon glyphicon-map-marker " aria-hidden="true"></span>
          <a class="navbar-brand josefin pequenio" href="index.html">GuiarTec</a>
          
          
          <!--<div class="navbar-brand josefin pequenio">
          <a href="index.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <b>GuiarTec</b></a>
          </div>-->
          
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle josefin pequenio" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Esculturas</a></li>
                <li><a href="#">Museos</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	<!-- <nav class="luckiest padding-largo se-naranja">
				<ul>
					<a href="#" class="margen-derecho piel">Menú</a>
					<a href="#" class="margen-derecho piel">Colaboradores</a>
					<a href="#" class="margen-derecho piel">Acerca de</a>

				</ul>
	</nav> -->
   <!--<a href="#" class="piel"><img src="imgs/botons/flechaD-btn.png" border="0" width="200" height="100">hola</a>-->
	 
   <!--<div class="col-md-12 quitar-float text-center margen-div-bt">
      <div class="btn-group-vertical">
        <a href="sendero.html" class="btn btn-object monserrat"><span class="glyphicon glyphicon-road"></span> Sendero - Esculturas</a>
      </div>
    </div>-->    

  <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <div class="josefin mediano piel text-center">¿Quienes Somos?</div>
        </div>
        <p class="lead piel-claro">Somos una pequeña empresa llamada Learning Group que nació en el Informatorio.</p>
        <p class="lead piel-claro">Nuestra empresa se creó para que todas las personas puedan aprender jugando con nuestras aplicaciones.</p>
        <p class="lead piel-claro">Nuestro equipo esta conformado por los siguientes integrantes: Favio Veron, Cristhian Pinilla, Fiore Vicentin, Gisela Cerdan y Gastón Niveyro.</p>
        <p class="lead piel-claro">Nuestro Facebook es: </p> <h3><span class="josefin celeste"><i class="fa fa-facebook-official" aria-hidden="true"></i><a href="https://www.facebook.com/LGInformatorio2016/"> LGInformatorio2016/</a></span></h3> <p class="lead piel-claro"> Y nuestro correo es:</p> <h3><span class="josefin celeste"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:learning_group@outlook.com">learning_group@outlook.com</a></span></h3>
        <p class="lead piel-claro">Nosotros no estaríamos aca si no fuera por nuestros colaboradores, Noelia Pinto, Gilda Romero, Blass, Facundo, Madia, etc. </p>
        <br>

     </div>

      <div id="push"></div>
  </div>
  
   <div id="footer">
      <div class="text-center ">
        <ul class="no-lista">
         <h3><li class="col-md-4 "><a href="#">Apps Vinculadas</a></li></h3>
         <h3><li class="col-md-4 "><p class="muted credit text-center">LG® 2016</p></li></h3>
         <li class="col-md-4 "><img src="file:///C:/Users/Karen%20Araceli/Desktop/Logo%20informatorio%20Color.png" width="150" height="30"></li>
      </ul>
      </div>
  </div>
 
        
     


</body>
</html>
<!--ivory-->
<!--{{=BEAUTIFY(response._vars)}}-->
